$fontSansBold: "PT Sans - Bold", sans-serif;
$fontSansRegular: "PT Sans - Regular", sans-serif;
$fontRobotoCondense: "Roboto Condensed", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$fontSansNarrow: "PT Sans - Narrow", sans-serif;
$fontSansNarrowBold: "PT Sans - Narrow Bold", sans-serif;

$black: #000;
$whiteText: #ededed;
$white: #fff;
$orange: #fc481a;
$yellowText: #ffd50c;
$timerBckgColor: #f6f6f6;
$feedbackFormGray: #fff0;
$feedbackFormBorder: #e1e1e1;
$feedbackFormBackground: #f6f6f6;
$feedbackFormPlaceholder: #929292;
$orderBtnArrowBackgColor: #b13412;
$checkboxBorderColor: #b67a52;
$block4BlackText: #0b0b0b;

$textGoldGradient: linear-gradient(to right, #f0e394 0%, #b49b52 100%);
$checkboxBackground: linear-gradient(-225deg, #fc481a 0%, #ca3a15 100%);
$orderBtnBackground: linear-gradient(to top, #d73f17 0%, #fa4a1b 100%);
